#java specific
*.class

#netbeans ignore personal stuff 
nbproject/private/
android-sdk-macosx/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
.metadata/
bin/
Get Well Android App/gen/com/goodwill/getwell/R.java
